<%- include('partials/header') %>

<%- include('partials/navbar') %>

 <h1>Search for Locals</h1>

    <form action="/locals/search" method="GET">

    <div>

        <label for="pesquisa" id="label-pesquisa">Pesquise pelo SKU do produto, pelo nome do pedido ou pela cidade deste</label>

        <br>

        <input type="text" name="pesquisa" id="input-pesquisa" placeholder="Pesquisa">
    	
        <button>Pesquisar</button>

    </div>

    </form> 

    <ul>
        <% for (resultS of resultSku) { %> 
            <li>    
                <%= resultS %> 
            </li>
        <% } %> 
    </ul>
    <ul>
        <% for (resultN of resultNome) { %> 
            <li>
                <%= resultN %> 
            </li>
        <% } %> 
    </ul>
    <ul>
        <% for (resultC of resultCidade) { %> 
            <li>
                <%= resultC %> 
            </li>
        <% } %> 
    </ul>

<%- include('partials/footer') %>