<%- include('partials/header') %>

<%- include('partials/navbar') %>
    
    <div id="local-order-title">Local Order</div>

    <div id="local-order-div">

        <div id="distribuidor-div">

            <label for="distribuidor-opcoes" id="distribuidor-label">Distribuidor</label>
            <input type="text" value=<%= local.distribuidor %>>

        </div>
        
        <div id="linguagem-div">

            <label for="linguagem-opcoes" id="linguagem-label">Linguagem</label>
            <input type="text" value=<%= local.linguagem %>>

        </div>

        <div id="jogos-div">

            <label for="jogos-opcoes" id="jogos-label">Jogos</label>

            <% if (local.jogos.length > 5) { %> 

                <input type="text" value=<%= local.jogos %>>

            <% } else for (var i = 0; i < local.jogos.length; i++ ) { %>

                <input type="text" value=<%= local.jogos[i] %>>

            <% } %>
    
        </div>

        <div id="placas-div">

            <label for="placas-opcoes" id="placas-label">Placas (até 10)</label>
            <input type="number" value=<%= local.placas %>>
    
        </div>

        <div id="local-div">

            <label for="local-opcoes" id="local-label">Local</label>
            <input type="text" value=<%= local.local %>>

        </div>

        <div id="cidade-div">

            <label for="cidade-opcoes" id="cidade-label">Cidade</label>
            <input type="text" value=<%= local.cidade %>>

        </div>

    </div>

    <br>

    <div class="col-12">
        <form action="/admin/local_approval/:id/edit" method="GET">
            <button class="btn btn-dark">Editar pedido</button>
        </form>
    </div>
    <div class="col-12">
        <form action="/admin/local_approval/:id/post" method="POST">
            <button onclick="return confirm('Tem certeza de que deseja APROVAR esse pedido?')" class="btn btn-dark">Aprovar pedido</button>
        </form>
    </div>
    <br><br>
    <div class="col-12">
        <form action="/admin/local_approval/:id/delete" method="POST">
            <button onclick="return confirm('Tem certeza de que deseja NEGAR esse pedido?')" id="delete-button" class="btn btn-dark">Negar pedido</button>
        </form>
    </div>

<%- include('partials/footer') %>